---
import CardProyect from './CardProyect.astro';

const proyects = [
    {
        title: 'MaikiApuntes',
        body: 'Proyecto pensado para compartir mi viaje en forma de apuntes aprendiendo programación',
        skills: [{
            skill: 'Javascript',
            tag: 'js-tag',
            icon: './javascript.svg'
        }, {
            skill: 'Astro',
            tag: 'html-tag',
            icon: './astro.svg'
        }, {
            skill: 'Tailwindcss',
            tag: 'tailwindcss-tag',
            icon: './tailwindcss.svg'
        }
            ],
        hrefRepo: 'https://github.com/mikygaleano/my-blog-maikidev',
        hrefWeb: 'https://maikiblog.netlify.app/',
        image: './blogApuntes.png',
        alt: 'Proyect cover'
    }
]
---

<section class="w-full min-h-full flex flex-col justify-start items-center max-md:grid max-md:place-content-center gap-3" id="proyects">
    <h2 class="text-center font-semibold text-3xl">Proyectos</h2>
    <div class="w-10/12 h-full flex max-md:flex-col flex-row flex-wrap gap-2 justify-center items-center mt-5">
        {
            proyects.map(({title, body, skills, hrefRepo, hrefWeb, image, alt}) => 
                <CardProyect title={title} image={image} alt={alt} body={body} skills={skills} hrefRepo={hrefRepo} hrefWeb={hrefWeb}/>
            )
        }
    </div>
</section>