---
import CardProyect from './CardProyect.astro';

const proyects = [
    {
        title: 'MaikiApuntes',
        body: 'Proyecto pensado para compartir mi viaje en forma de apuntes aprendiendo programación',
        skills: [{
            skill: 'JAVASCRIPT',
            tag: 'js-tag',
            fa: 'fa-js'
        }, {
            skill: 'Astro',
            tag: 'html-tag',
            fa: 'fa-astrojs'
        }, {
            skill: 'Tailwindcss',
            tag: 'tailwindcss-tag',
            fa: 'fa-css3-tag'
        }
            ],
        hrefRepo: 'https://github.com/mikygaleano/my-blog-maikidev',
        hrefWeb: 'https://maikiblog.netlify.app/',
        image: './blogApuntes.png',
        alt: 'Proyect cover'
    }
]
---

<section class="w-full h-screen flex flex-col justify-start items-center max-md:grid max-md:place-content-center gap-3" id="proyects">
    <h2 class="mb-10 text-center font-semibold text-3xl">Proyectos</h2>
    <div class="w-10/12 h-full flex max-md:flex-col flex-row flex-wrap gap-3 justify-start items-center pl-20 pr-20 max-md:p-0">
        {
            proyects.map(({title, body, skills, hrefRepo, hrefWeb, image, alt}) => 
                <CardProyect title={title} image={image} alt={alt} body={body} skills={skills} hrefRepo={hrefRepo} hrefWeb={hrefWeb}/>
            )
        }
    </div>
</section>