---
const { platform, username } = Astro.props;
---

{
    platform === 'linkedin'? 
        <a class=" text-slate-700 hover:text-black" href={`https://www.${platform}.com/${'in'}/${username}`} target="_blank">{platform}</a>
        :<a class=" text-slate-700 hover:text-black" href={`https://www.${platform}.com/${username}`} target="_blank">{platform}</a>
}